html {
	font-size: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	font-size: 100%;
	min-height: 100%;
	height: 100%;
	background: #000000 url(../img/camera1.jpg) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
	overflow-x: hidden;
}

/* START SUGGESTIONS DROPDOWN */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	background: rgba(0, 0, 0, .5);
	border: medium;
	text-align: left;
	width: 55.09%;
	padding-left: 0;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
}

ul:active {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	background: rgba(0, 0, 0, .5);
	border: medium;
	text-align: left;
	width: 55.09%;
	padding-left: 0;
	padding-bottom: 100%;
}

li {
	font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
	/* border-bottom: 1px solid #ccc; */
	margin-left: 1.6em;
	list-style-type: none;
	text-decoration: none;
	font-weight: bold;
	color: #ffffff;
	-webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
	-moz-transition: font-size 0.3s ease, background-color 0.3s ease;
	-o-transition: font-size 0.3s ease, background-color 0.3s ease;
	-ms-transition: font-size 0.3s ease, background-color 0.3s ease;
	transition: font-size 0.3s ease, background-color 0.3s ease;
}

li:first-child {
	padding-top: 3%;
}

li:last-child {
	padding-bottom: 3%;
}

li:hover {
	font-size: 25px;
	/* color: #ffffff; */
	width: 55%;
	text-underline: none;
}
/* END SUGGESTIONS DROPDOWN */

.form-control {
	-webkit-box-shadow: none;
	box-shadow: none;
	text-align: left;
	width: 80%;
}

.form-control:focus {
	border-color: #ffffff;
}

.form-control::-webkit-input-placeholder {
	/* WebKit browsers */
	font-family: 'Oswald', sans-serif;
	color: #ffffff;
	font-weight: lighter;
}

.form-control:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	font-family: 'Oswald', sans-serif;
	color: #ffffff;
	opacity: 1;
	font-weight: lighter;
}

.form-control::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	font-family: 'Oswald', sans-serif;
	color: #ffffff;
	opacity: 1;
	font-weight: lighter;
}

.form-control:-ms-input-placeholder {
	/* Internet Explorer 10+ */
	font-family: 'Oswald', sans-serif;
	color: #ffffff;
	font-weight: lighter;
}

.search-form input {
	background-color: rgba(300, 300, 300, .5);

	background-image: url('../img/search-icon-white.png');
	background-repeat: no-repeat;
	background-size: 3.5%;
	background-position: 2%;

	border: 2px solid #fff;
	border-bottom-left-radius: 0;
	border-top-left-radius: 1em;
	border-bottom-right-radius: 0;
	border-top-right-radius: 1em;

	font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
	font-weight: bold;
	font-size: 1.3em;
	line-height: 2;
	height: inherit;
	width: 50%;
	text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);

	padding-left: 2.5em;
	padding-right: 1em;
}

input:focus {
	outline: 0 none;
	box-shadow: 0 0 0 transparent;
	color: #ffffff;
}

#splash {
	text-align: center;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 12em;
	color: #ffffff;
	margin-top: 0.1em;
	margin-bottom: 0;
	text-align: center;
	line-height: 1;
	text-shadow: 3px 3px 3px rgba(150, 150, 150, 1);
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2em;
	color: #ffffff;
	margin-top: 0;
	margin-bottom: 0.6em;
	font-weight: 700;
}

#svg-container {
	background-color: black;
}

.input-group {
	margin-bottom: 40em;
}

@media all and (max-width:767px) {
	body {
		font-size: 100% !important;
	}
}

@media all and (max-width:1024px) and (min-width:768px) and (orientation: landscape) {
	body {
		font-size: 100% !important;
	}
}

@media all and (max-width:1024px) and (min-width:768px) and (orientation: portrait) {
	body {
		font-size: 100% !important;
	}
}

@media all and (max-width:1200px) and (min-width:1024px) {
	body {
		font-size: 85% !important;
	}
}

@media all and (max-width:1366px) and (min-width:1200px) {
	body {
		font-size: 100% !important;
	}
}

@media all and (max-width:1440px) and (min-width:1366px) {
	body {
		font-size: 105% !important;
	}
}

@media all and (max-width:1680px) and (min-width:1440px) {
	body {
		font-size: 115% !important;
	}
}

@media all and (max-width:1920px) and (min-width:1680px) {
	body {
		font-size: 140% !important;
	}
}

@media all and (max-width:2048px) and (min-width:1920px) {
	body {
		font-size: 145% !important;
	}
}

@media all and (max-width:2560px) and (min-width:2048px) {
	body {
		font-size: 155% !important;
	}
}

@media all and (max-width:2880px) and (min-width:2560px) {
	body {
		font-size: 165% !important;
	}
}

@media only screen and (min-width: 768px) {
	html {
		height: 100%;
	}
	h1 {
		margin-top: 0.3em;
		font-size: 13em;
	}
	h2 {
		font-size: 2em;
		margin-bottom: 1.2em;
	}
	.form-inline.search-form .input-group {
		width: 100%;
	}
}
